body {
	font: .8em "Lucida Sans", "Trebuchet MS", Verdana, Arial, Sans-Serif;
	background-color : #4f4f97;
}
a {
	text-decoration: none;
	color: #4f4f97;
}
a:hover {
	color: #000;
}
ul {
	margin-left:10px;
}
img {
	border: 0px;
}
#wrap {
	margin: 20px auto;
	width: 550px;
	padding: 10px;
	background-color: #fff;
	border:1px solid #000;
}
#header {
	height : 93px;
	background-color : #4f4f97;
	text-align:center;
	color: #FFF; 
	padding: 0px;
        background-image : url(../images/branding_bg.png);
}

#header_txt {
        position:relative;
        left:340px;
        top:40px;
	font: 20px Verdana, Arial, Sans-Serif;
        margin: 0px; padding:0px;
}

#header h1 {
	padding-left: 10px;
	padding-top: 12px;
	font-size: 25px;
	color: #31799F;
}
#header h1 a {
	font-size: 25px;
	color: #31799F;
	text-decoration: none;
}
#header h2 {
	padding-left: 10px;
	padding-top: 0px;
	font-size: 14px;
	color: #fff;
}
#header h3 {
	padding-left: 10px;
	padding-top: 0px;
	font-size: 14px;
	color: #fff;
}
#menu {
	text-align: center;
	margin-top: 10px;
	font-size : 11px;
	padding: 2px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	border: 0px solid #D8E3EE;
	background: #F9FCFC;
}
#menu a {
	color : #4f4f97;
	text-decoration : none;
	padding: 10px;
}
#menu a:hover {
	color : #000;
}
#content {
	text-align: left;
	margin-top: 5px;
	padding: 10px;
	font-size: 11px;
}

#content h1 {
        text-align:center;
}


#content h2 {
	font-size: 15px;
	color : #444;
	padding: 0 0 5px 0;
}
#footer {
	margin-top: 25px;
	clear: both;
	text-align: center;
	color: #000;
	font-size:10px;
	background-color:#FFF;
	padding:2px;
}
.meta {
	padding-bottom:2px;
	font-size: 10px;
	color:#999999;
	font:Arial, Helvetica, sans-serif;
}
#bottom {
	font-size:11px;
	padding: 10px 0 0 0;
}
#bottomleft {
	width:45%;
	float:left;
	background:#fff;
	padding-bottom:10px;
	padding-left:5px;
}
#bottomright {
	width:45%;
	float:right;
	background:#fff;
	padding-bottom:10px;
	padding-right:5px;
}
#divider {
	text-align: center;
	font-size : 11px;
	padding:2px;
	font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
}







/*from another style.css*/

*{
	margin:0;
	padding:0;
}


.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
  background: rgb(292, 292, 292);
  background: rgba(292, 292, 292, 0.5);
  
}
.jumbotron h1,
.jumbotron .h1 {
  color: inherit;
}
.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.jumbotron > hr {
  border-top-color: #d5d5d5;
}
.container .jumbotron,
.container-fluid .jumbotron {
  border-radius: 6px;
}
.jumbotron .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .container .jumbotron,
  .container-fluid .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 63px;
  }
}

h2,
.h2{
font-size:30px;

}

#login-form
{
	margin-top:70px;
}
table
{
	border:solid #dcdcdc 1px;
	padding:25px;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
	 padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
   background: rgb(280, 350, 050);
  background: rgba(280, 350, 050, 0.2);
}
table tr,td
{
	padding:15px;
	//border:solid #e1e1e1 1px;
}
table tr td input
{
	width:97%;
	height:45px;
	border:solid #e1e1e1 1px;
	border-radius:3px;
	padding-left:10px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
	background:#f9f9f9;
	transition-duration:0.5s;
	box-shadow: inset 0px 0px 1px rgba(0,0,0,0.4);
}

table tr td button
{
	width:100%;
	height:45px;
	border:0px;
	background:rgba(12,45,78,11);
	background:-moz-linear-gradient(top, #595959 , #515151);
	border-radius:3px;
	box-shadow: 1px 1px 1px rgba(1,0,0,0.2);
	color:#f9f9f9;
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	font-weight:bolder;
	text-transform:uppercase;
}
table tr td button:active
{
	position:relative;
	top:1px;
}
table tr td a
{
	text-decoration:none;
	color:#00a2d1;
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
}